
* {
	box-sizing: border-box;
}
body {
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	color: #000;
	font-weight: 400;
}
ul, ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #DE002B;
}
.wrapper {

}
.container {
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
}
.bold {
	font-weight: bold;
}
.red {
	color: #DE002B;
}
/* header */
.top_header_inner {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.logo {
	width: 176px;
}
.header_info {
	width: 275px;
	padding-left: 10px;
}
.header_search {
	flex: 1;
	display: flex;
}
.header_control {
	width: 280px;
	display: flex;
	flex-direction: row;
	font-size: 12px;
	color: #CF0028;
	line-height: 16px;
	align-items: center;
}
.header_info_toggle {
	position: relative;
}
.header_info_toggle:hover {
	cursor: pointer;
}
.header_info_toggle:after {
    content: '';
    display: block;
    width: 8px;
    height: 6px;
    background-image: url(./img/header_arrow_down.png);
    background-repeat: no-repeat;
    position: absolute;
    right: 23px;
    bottom: 5px;
}
.header_info_toggle span {
	color: #1E1E1E;
	line-height: 17px;
	font-size: 14px;
	font-weight: bold;
}
.header_info_toggle p {
	color: #1E1E1E;
	font-size: 12px;
	margin: 0;
}
.search_block {
	width: 100%;
	padding-right: 25px;
}
.search_area {
	padding: 10px 14px;
	background-color: #F5F5F5;
	border: 1px solid #E7E7E7;
	color: #000;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	border-radius: 30px;
	width: 100%;
	outline: none;
}
.header_log {
	display: flex;
	flex-direction: row;
	padding-right: 15px;
	align-items: center;
}
.header_login {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.header_login span {
	padding-right: 8px;
}
.header_login_img {
	padding-right: 10px;
}
.header_reg {
	padding-left: 10px;
}
.header_cart a {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.header_cart_img {
	padding-right: 10px;
}
.header_dropdown_panel {
	display: flex;
	flex-direction: column;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
	border: none;
}
.dropdown-pane {
	padding: 0;
	border: none;
}
.header_dropdown_panel li {
	border-bottom: 1px solid #E9E9E9;
	padding: 8px 12px;
}
.header_dropdown_panel li {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
}
.header_info .dropdown-pane {
	max-width: 240px;
	border: none;
}
/* bottom header */
.header_menu_inner {
	background-color: #DE002B;
}
.header_menu_inner a {
	color: #fff;
}
.header_menu_inner ul {
	display: flex;
	flex-direction: row;
}
.header_menu_inner ul li a {
	display: flex;
	padding: 17px 15px;
	font-weight: bold;
}
.header_menu_inner ul li a:hover {
	background-color: #c30228;
}
.header_menu_dropdown_burger {
	padding-right: 10px;
}
.header_menu_dropdown {
	width: 300px;
}
.header_catalog_menu_panel, .header_catalog_menu_panel > li > ul, .header_catalog_menu_panel > li > ul > li > ul {
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
	color: #1E1E1E;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
.header_catalog_menu_panel > li, .header_catalog_menu_panel > li > ul > li, .header_catalog_menu_panel > li > ul > li > ul > li {
	border-bottom: 1px solid #D7D7D7;
}
.header_catalog_menu_panel > li > ul > li:last-child, .header_catalog_menu_panel > li > ul > li > ul > li:last-child {
	border-bottom: none;
}
.header_catalog_menu_panel li a {
	padding: 12px 14px!important;
	display: flex;
	color: #1E1E1E;
}
.dropdown.menu > li.is-active > a, .dropdown.menu > li > ul > li.is-active > a, .dropdown.menu > li > a:hover, .dropdown.menu > li > ul > li > a:hover, .dropdown.menu > li > ul > li > ul > li > a:hover {
	color: #fff;
	background-color: #DE002B;
}
.dropdown.menu.vertical > li.opens-right > a::after {
	background-image: url(./img/menu_right_arrow.png);
	background-repeat: no-repeat;
	width: 6px;
    height: 10px;
    border: none;
    top: 17px;
}
.dropdown.menu.vertical > li > ul > li > a::after {
	background-image: url(./img/menu_right_arrow.png);
	background-repeat: no-repeat;
	width: 6px;
    height: 10px;
    border: none;
    top: 20px;
}
.dropdown.menu.vertical > li.is-active > a::after, .dropdown.menu.vertical > li > ul > li.is-active > a::after {
	background-image: url(./img/menu_right_arrow_active.png)!important;
	background-repeat: no-repeat;
	width: 6px;
    height: 10px;
    border: none;
    top: 17px;
}
.dropdown.menu.vertical > li > ul > li.is-active > a::after {
	background-image: url(./img/menu_right_arrow_active.png)!important;
	background-repeat: no-repeat;
	width: 6px;
    height: 10px;
    border: none;
    top: 20px;
}
.header_menu_dropdown {
	position: relative;
}
.header_menu_dropdown:after {
	position: absolute;
	right: 10px;
    top: 27px;
	content: '';
	width: 12px;
	height: 8px;
	background-repeat: no-repeat;
	background-image: url(./img/menu_bottom_arrow.png);
}
/* slider */
.main_slide {
	width: 100%;
   max-width: 100%;
   margin-left: auto;
   margin-right: auto;
}
.slider_content {
	width: 100%;
	height: 100%;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}
.slide {
	height: 550px;
	position: relative;
}
.slide_container {
    max-width: 1200px;
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
}
.slide h2 {
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 41px;
	color: #FFFFFF;
	z-index: 111;
}
.slide_text {
	max-width: 700px;
}
.slick-slide img {
	width: 100%;
}
.slick-dots {
	position: absolute;
	bottom: 40px;
	display: flex;
	flex-direction: row;
	right: 400px;
}
.slick-dots li button {
	text-indent: -9999px;
	position: relative;
	margin-right: 18px;
}
.slick-dots li button:after {
	content: '';
	background-image: url(./img/dots_circle.png);
	width: 18px;
	height: 18px;
	background-repeat: no-repeat;
	display: block;
	cursor: pointer;
}
.slick-dots li.slick-active button:after {
	background-image: url(./img/dots_circle_active.png);
}
.slick-list {
	padding: 0!important;
}
/* advantages */
.advan_inner {
	padding-top: 80px;
	padding-bottom: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.advan_content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.advan_block {
    width: 236px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
	margin-left: 20px;
    margin-right: 20px;
}
.advan_block span {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #1E1E1E;
	padding-left: 20px;
}
/* main catalog */
.section_title {
	display: flex;
	text-align: center;
	position: relative;
	align-items: center;
}
.section_title h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #242424;
    padding-left: 15px;
    padding-right: 15px;
}
.section_title:before {
    content: '';
    display: flex;
    height: 1px;
    background-color: #000;
    flex: 1;
}
.section_title:after {
    content: '';
    display: flex;
    height: 1px;
    background-color: #000;
    flex: 1;
}
.main_catalog_content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: -6px;
	margin-right: -6px;
}
.main_catalog_block {
    width: 20%;
    padding-left: 6px;
    padding-right: 6px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main_catalog_img {
	padding-bottom: 12px;
}
.main_catalog_img img {
	max-width: 200px;
	max-height: 180px;
}
.main_catalog_block span {
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	text-decoration-line: underline;
	color: #DE002B;
}
.main_catalog_block a {
	position: absolute;
	width: 100%;
	height: 100%;
}
.main_catalog_block:hover span {
	text-decoration: none;
}
/* raschet */
.raschet_wrap {
	background-image: url(./img/raschet_back.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 30px;
	width: 100%;
}
.raschet_content {
	display: flex;
	flex-direction: column;
}
.raschet_title h2 {
	font-weight: bold;
	font-size: 36px;
	padding-top: 20px;
	padding-bottom: 15px;
	color: #FFFFFF;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.raschet_block {
	display: flex;
	flex-direction: column;
	padding-bottom: 20px;
}
.raschet_block span {
	font-size: 14px;
	color: #fff;
	padding-bottom: 10px;
}
.raschet_button {
	font-size: 14px;
	line-height: 19px;
	color: #1E1E1E;
	display: flex;
	flex-direction: row;
}
.raschet_button input[type=radio] {
	display: none;
}
.raschet_button input[type=radio]:checked ~ label{
	background: linear-gradient(180deg, #F15537 0%, #DF032B 100%);
	border: 1px solid #BFBFBF;
	color: #fff;
}
.raschet_button label {
    border: 1px solid #BFBFBF;
    background-color: #F9F9F9;
    color: #000;
    padding: 8px 0;
    cursor: pointer;
    width: 104px;
    display: flex;
    align-items: center;
    justify-content: center;
}
